{% set theme = 'is-light' %}
{% set containertags = 'has-text-centered' %}

{% extends "base.html" %}

{% block content %}

<style>
    @charset "UTF-8";
    #login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #login .login-card {
        background: #fff;
        width: 24rem;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
    }
    #login .login-card .card-title {
        background-color: #00b89c;
        padding: 2rem;
    }
    #login .login-card .card-title h1 {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
    }
    #login .login-card .content {
        padding: 2.5rem 2.5rem 1.5rem;
    }
    #login .login-card #username,
    #login .login-card #password {
        display: block;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 1.75rem;
        padding: 0.25rem 0;
        border: none;
        border-bottom: 1px solid #dbdbdb;
        transition: all 0.5s;
    }
    #login .login-card #username:hover,
    #login .login-card #password:hover {
        border-color: #7a7a7a;
    }
    #login .login-card #username:active,
    #login .login-card #username:focus,
    #login .login-card #password:active,
    #login .login-card #password:focus {
        border-color: #00d1b2;
    }
    #login .login-card .options {
        color: #b5b5b5;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    #login .login-card button {
        width: 100%;
    }
    #login .login-card button:active {
        transform: translateY(1px);
    }
    label {
        cursor: pointer;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .hero-body {
        padding-top: 0px;
    }
</style>

<div id="login">
    <div class="login-card">
        <div class="card-title">
            <h1>Please Log In</h1>
        </div>
        <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login/next">
                <img src="{{ qrcode(content) }}" width="500px" style="margin-bottom: 1.5em;">
                <input type="hidden" name="next" value="{{next}}" />
                <input type="hidden" name="remember" value="{{remember}}" />
                <div class="field is-grouped">
                    <button type="button" class="button is-outlined is-text"><a href="/login">Back</a></button>
                    <button type="submit" class="button is-outlined is-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}