{% set theme = 'is-light' %}
{% set containertags = 'has-text-centered' %}

{% extends "base.html" %}

{% block content %}
<style>
    @charset "UTF-8";
    #login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #login .login-card {
        background: #fff;
        width: 24rem;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
    }
    #login .login-card .card-title {
        background-color: #00b89c;
        padding: 2rem;
    }
    #login .login-card .card-title h1 {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
    }
    #login .login-card .content {
        padding: 3rem 2.5rem 5rem;
    }
    #login .login-card #username,
    #login .login-card #name,
    #login .login-card #password {
        display: block;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 1.75rem;
        padding: 0.25rem 0;
        border: none;
        border-bottom: 1px solid #dbdbdb;
        transition: all 0.5s;
    }
    #login .login-card #username:hover,
    #login .login-card #name:hover,
    #login .login-card #password:hover {
        border-color: #7a7a7a;
    }
    #login .login-card #username:active,
    #login .login-card #username:focus,
    #login .login-card #name:active,
    #login .login-card #name:focus,
    #login .login-card #password:active,
    #login .login-card #password:focus {
        border-color: #00d1b2;
    }
    #login .login-card .options {
        color: #b5b5b5;
        margin-bottom: 1.5rem;
    }
    #login .login-card button {
        cursor: pointer;
        font-size: 1.2rem;
        color: #00d1b2;
        border-radius: 4rem;
        display: block;
        width: 100%;
        background: transparent;
        border: 2px solid #00d1b2;
        padding: 0.9rem 0 1.1rem;
        transition: color 0.5s, border-color 0.5s;
    }
    #login .login-card button:hover,
    #login .login-card button:focus {
        color: #009e86;
        border-color: #009e86;
    }
    #login .login-card button:active {
        transform: translateY(1px);
    }
    label {
        cursor: pointer;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
</style>

<div id="login">
    <div class="login-card">
        <div class="card-title">
            <h1>Please Sign Up</h1>
        </div>
        <div class="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <input id="name" type="text" name="name" title="name" placeholder="Display Name" required autofocus>
                <input id="username" type="text" name="username" title="username" placeholder="Username" required autofocus>
                <input id="password" type="password" name="password" title="password" placeholder="Password" required>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}