{% set theme = 'is-light' %}
{% set containertags = 'has-text-centered' %}

{% extends "base.html" %}
{% block content %}
    {% for x in log %}
        {% set y = x[1]|length %}
<ul class="list-group">
  <button class="button" type="button" data-target="#{{ y }}" aria-expanded="false" data-toggle="collapse" aria-label="Toggle navigation">
    {{ x[0] }}
  </button>
  <div class="collapse" id="{{ y }}">
      <div>Username: {{ x[1] }}</div>
      <div>Password: {{ x[2] }}</div>
  </div>
</ul>
{% endfor %}
{% endblock %}